#nav-block{
    display: inline-block;
    border: 1px solid black;
    padding-right: 20px;
}

#table-info{
    border: 1px solid black;
    display: inline-block;
    padding: 20px;
    line-height: 25px;
    list-style: square;
}

.nav-item{
    display: inline-block;
    margin-right: 30px;
}